---
title: Resident Engineer with Security Clearance (6mo)
suppress_header: true
description: "Augment your staff with a GitLab expert."
canonical_path: "/services/skus/resident-engr-cleared-6mo/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Resident Engineer with Security Clearance (6mo)
.page-container.container
<iframe src="https://drive.google.com/file/d/12gVCeGw6J4J7ZKwrqV7u-dzgBUFdT6H8/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>