---
layout: markdown_page
title: Product Stage Direction - Plan
description: "The Plan stage enables teams to effectively plan features and projects in a single application"
canonical_path: "/direction/plan/"
---

Content last reviewed on 2024-07-17

- TOC
{:toc}

<p align="center">
    <font size="+2">
        <b>Enable teams to effectively plan and execute work in a single application</b>
    </font>
</p>

<%= partial("direction/plan/templates/overview") %>

<%= devops_diagram(["Plan"]) %>

## Stage Overview

The Plan Stage provides tools for teams to manage and optimize their work, track operational health and measure outcomes. As an end-to-end DevSecOps platform, GitLab is uniquely positioned to deliver a planning suite that enables business leaders to drive their vision and DevSecOps teams to deliver value while improving how they work. The unification of the DevSecOps process allows GitLab to interlink data across every stage of development, from ideation to value delivered to customers.

### Group and Categories

<%= partial("direction/plan/templates/categories") %>

## 3 Year Stage Themes

<%= partial("direction/plan/templates/themes") %>
 
## 3 Year Strategy

<%= partial("direction/plan/templates/strategy") %>

## 1 Year Plan

### What We Recently Completed

<%= partial("direction/plan/project_management/team_planning/recent_accomplishments") %>
* Improvements to the rich text editor - Following the initial rollout in GitLab 16.2, we continue to make improvements to the rich text editor. In 17.1, we introduced [draggable media in the rich text editor](https://gitlab.com/gitlab-org/gitlab/-/issues/452233) and [downscaling pasted images](https://gitlab.com/gitlab-org/gitlab/-/issues/419913).
* Increase wiki maturity - In 16.11, [autocomplete support for links to wiki pages](https://about.gitlab.com/releases/2024/04/18/gitlab-16-11-released/#autocomplete-support-for-links-to-wiki-pages), linking to wiki pages from your epics and issues has never been easier - it's just a matter of a few keystrokes. In 17.1, we made [UX papercut enhancements](https://about.gitlab.com/releases/2024/06/20/gitlab-17-1-released/#improved-wiki-user-experience) and [redirects after a wiki rename](https://gitlab.com/gitlab-org/gitlab/-/issues/257892) .
* [Visually distinguish epic colors (17.0)](https://gitlab.com/groups/gitlab-org/-/epics/9033) - To further improve the ability to use portfolio management features across the organization, you can now distinguish epics using colors on roadmaps and epic boards.
* [Real-time boards (17.1)](https://gitlab.com/gitlab-org/gitlab/-/issues/468187) - Changes you make in the sidebar will instantly appear on the board itself, no more refreshing required. This reactive boards experience streamlines your workflow, allowing you to quickly make updates while seeing them reflected in real-time.
* [AI Impact dashboard (17.0)](https://gitlab.com/groups/gitlab-org/-/epics/12978) - This new month-over-month metric view compares the AI Usage trends with SDLC metrics like lead time, cycle time, DORA, and vulnerabilities. Software leaders can use the AI Impact dashboard to measure how much time is saved in their end-to-end workstream, while staying focused on business outcomes rather than developer activity.* [New ClickHouse integration for high-performance DevOps Analytics (16.10)](https://gitlab.com/gitlab-org/gitlab/-/issues/428260) - The Contribution Analytics report is now more performant and backed by an advanced analytics database using ClickHouse on GitLab.com. 
* Continued Iteration for Value Stream Dashboard - We have continued to release iterative improvements to our Value Stream dashboard which include [simplified confguration (17.0)](https://gitlab.com/gitlab-org/gitlab/-/issues/432185), and [a usage overview panel (17.0)](https://gitlab.com/gitlab-org/gitlab/-/issues/438256).

### What We Are Currently Working On

* Migrating [epics to the work items](https://gitlab.com/groups/gitlab-org/-/epics/9290) framework will allow us to eventually bring more consistency with issues and address long-standing requests, like [assignees on epics](https://gitlab.com/groups/gitlab-org/-/epics/4231).
<%= partial("direction/plan/project_management/team_planning/current_focus") %>
* [Wiki Connectivity](https://gitlab.com/groups/gitlab-org/-/epics/12835) - Allow users to connect their Wiki knowledge base with the rest of the DevSecOps lifecycle. 
* [Pages Multi-Version Support](https://gitlab.com/groups/gitlab-org/-/epics/10914) - Currently a project can have only a single version of a GitLab Pages site. This make it hard for customers to try new ideas on their sites without changing the only version of the site. Customers need a way to preview changes or have multiple environments for their GitLab Pages sites to make it possible to validate changes before deploying their site.
* [AI Impact Analytics](https://gitlab.com/groups/gitlab-org/-/epics/12978) - Continue to add metrics and insights into our AI impact dashboard to help leaders understand the ROI of their investment on AI.

<%= partial("direction/plan/templates/next") %>

### Cross-Stage Initiatives

<%= partial("direction/plan/templates/crossstage") %>

### Target audience

<%= partial("direction/plan/templates/target_audience") %>

### Pricing

<%= partial("direction/plan/templates/pricing") %>

An example of what the end result data model and pricing could look like based on these pricing principles:

![Work Items Hierarchy](/images/direction/plan/workitemhierarchy.png)


### Jobs To Be Done 

[View the Plan stage JTBD](/direction/plan/jtbd.html)
