@import "vendor/bootstrap/bootstrap/variables";

.team-section {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }

  .section-title {
    flex: none;
    position: sticky;
    align-self: start;
    z-index: 1;
    background-color: #fff;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;

    @media (max-width: 576px) {
      top: 116px;
    }

    @media (min-width: 576px) {
      top: 80px;
    }

    @media (min-width: $screen-md-min) {
      width: 300px;
      text-align: left;
      top: 100px;
    }
  }

  .team-row {
    flex: 1;
    justify-content: center;

    .member {
      margin: 0 0 45px 0;
      width: 100%;
      max-width: 250px;

      .role {
        margin-top: 0;
      }
    }
  }
}

.team-row {
  &::after {
    display: none;
  }
}