---
title: CI/CD Workshop
suppress_header: true
description: "Introductory advisory service to understand how to adopt the GitLab CICD workflow."
canonical_path: "/services/skus/cicd-workshop/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      CI/CD Workshop
.page-container.container
<iframe src="https://drive.google.com/file/d/1uwFeXEJWWEdh9TUa7u8SvH0UIeAW9XfG/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>