---
layout: markdown_page
title: "Category Direction - Webhooks"
description: "This GitLab product category is focused on enabling integration with custom applications that GitLab's customers rely on. Find more information here!"
canonical_path: "/direction/foundations/import_and_integrate/webhooks/"
---

- TOC
{:toc}

## Webhooks

| | |
| --- | --- |
| Stage | [Foundations](/direction/foundations/) |
| Maturity | [Viable](/direction/maturity/) |
| Content Last Reviewed | `2024-04-22` |

### Introduction and how you can help

Thanks for visiting this category direction page on Webhooks in GitLab. This page belongs to the [Import and Integrate](https://about.gitlab.com/handbook/product/categories/#import-and-integrate-group) group of the Foundations stage and is maintained by the group's Product Manager, [Magdalena Frankiewicz](https://gitlab.com/m_frankiewicz) ([E-mail](mailto:mfrankiewicz@gitlab.com), [Calendly](https://calendly.com/gitlab-magdalenafrankiewicz/45mins)).

This direction page is a work in progress, and everyone can contribute:
 
- Please comment and contribute in the linked [issues](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Category%3AWebhooks&first_page_size=20) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=Category:Webhooks) on this page. Sharing your feedback directly on GitLab.com is the best way to contribute to our strategy and vision.
 - Please share feedback directly via email, Twitter, or on a video call. If you're a GitLab user and want to discuss how GitLab can improve Importers, we'd especially love to hear from you.

### Strategy and Themes

<!-- Describe your category. Capture the main problems to be solved in market (themes). Describe how you intend to solve these with GitLab (strategy). Provide enough context that someone unfamiliar with the details of the category can understand what is being discussed. -->

<%= partial("direction/foundations/import_and_integrate/webhooks/templates/overview") %>

### 1 year plan
<!--
1 year plan for what we will be working on linked to up-to-date epics. This section will be most similar to a "road-map". Items in this section should be linked to issues or epics that are up to date. Indicate relative priority of initiatives in this section so that the audience understands the sequence in which you intend to work on them. 
 -->

<%= partial("direction/foundations/import_and_integrate/webhooks/templates/next") %>

#### What we recently completed
<!-- Lookback limited to 3 months. Link to the relevant issues or release post items. -->

Webhooks are in maintenance mode since May 2023. In the last few releases there have been significant Community Contributions to this category:

- [Add human-readable name and description to webhooks](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/141977) *16.9*
- [Custom payload template for webhooks](https://about.gitlab.com/releases/2024/03/21/gitlab-16-10-released/#custom-payload-template-for-webhooks) *16.10* Community contribution
- [Webhooks support mutual TLS](https://about.gitlab.com/releases/2024/03/21/gitlab-16-10-released/#webhooks-support-mutual-tls) *16.10* Contributed by Authentication group
- [Custom webhooks headers](https://about.gitlab.com/releases/2024/04/18/gitlab-16-11-released/#custom-webhook-headers) *16.11* Community Contribution
- [Test project hooks with the REST API](https://about.gitlab.com/releases/2024/04/18/gitlab-16-11-released/#test-project-hooks-with-the-rest-api) *16.11* Community contribution

With custom headers and custom paylod template you can now fully design custom webhooks.